/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 23, 2015, 6:56:05 PM
    Author     : ilkaygunel
*/
body {
background-image: url(../resources/images/bg.jpg);
}
#divClass1
{
background-color: aquamarine;
background-size: cover;
width: 535px;
height: 400px;
margin-top: 20px;
position: absolute;
margin-left: 375px;
}

.ui-stack{
    margin-bottom: 200px;
    margin-right: 0px;
    position: fixed;
    
}

.ui-menuitem-link .openStack li span{
    height: 30px;
}
               

#divClass2
{
    background-image: url(..//resources/images/g.png);
}

#randevuAdim
{
font-size: 26px;
color: #F00;
font-weight: normal;
}

.ui-accordion{
    font-size: 50%;
}
.ui-panelgrid .ui-panelgrid-cell{
    border: none;
}

.ui-panelgrid-cell{
    font-size: 90%;
}
.ui-widget-content {
    border:none;
    background-color: white;
}
.ui-panelgrid{
    font-size: 90%;
    border:none !important;
}
table {
    border:none !important ;
}
tbody {
    border: none !important;
}

#infoOrClocksAndOptions tr{
    background-color: red;
}